<div class="container-fluid ">
    <div class="row my-5 justify-content-center">
        <div class="col-6">
            <div class="card mb-3 shadow-lg border border-5">
                <img src="assets/img/comptes.jpg" class="img-fluid" alt="Responsive image">
                <div class="card-body">
                    <div class="row">
                        <div class="col-9">
                            <h5 class="card-title">Comptes</h5>
                            <p class="card-text">Aquí podrás gestionar les teves comptes</p>
                        </div>
                        <div class="col-3">
                            <button type="button" (click)="goToComptes()" class="btn btn-primary btn-lg">Anar a <i class="fas fa-arrow-right"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row my-5 justify-content-center">
        <div class="col-6">
            <div class="card mb-3 shadow-lg border border-5">
                <img src="assets\img\vehiculos.jpg" class="img-fluid" alt="Responsive image">
                <div class="card-body">
                    <div class="row">
                        <div class="col-9">
                            <h5 class="card-title">Vehicles</h5>
                            <p class="card-text">Aquí podrás gestionar el manteniment dels teus vehicles</p>
                        </div>
                        <div class="col-3">
                            <button type="button" (click)="goToVehicles()" class="btn btn-primary btn-lg">Anar a <i class="fas fa-arrow-right"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--
    <div class="row my-5 justify-content-center">
        <div class="col-6">
            <div class="card mb-3 shadow-lg">
                <img src="..." class="img-fluid" alt="Responsive image">
                <div class="card-body">
                    <h5 class="card-title">Altres</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
    </div>-->
</div>
